#programsPage{
    padding-top: 6.5em;
    display: grid;
    grid-template-columns: 0.75fr 0.25fr;

    #programsNavigation{
        background-color: #001D23;
        background-image: url("../../assets/images/bannerCurvedLine.webp");
        background-repeat: repeat-y;
        padding: 30px;
        height: 100%;
    }
}