#WIPFTeamPreviewComponent{
    padding: 0 160px;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;
    margin-bottom: 80px;

    #teamIntro{
        margin: 0;
        position: relative;
        top: 10%;

        #miniSectionIntroComponent{
            position: relative;
            top: -10.5%;
        }

        p{
            margin: 250px 0 40px 0;
            // font-family: 'Roboto', sans-serif;
            font-size: 17px;
            line-height: 30px;
            color: #595959;
        }

        #animatedButton{
            height: 50px;
            padding: 0 15px;
        }
    }
}

@media(min-width:900px){
    #WIPFTeamPreviewComponent{
        grid-template-columns: 0.3fr 0.7fr;
    }
}

