#WIPFTeamPreviewComponent{
    padding: 0 40px;
    margin-top: 140px;
    display: grid;
    grid-template-columns: 0.3fr 0.7fr;
    column-gap: 20px;

    #teamIntro{
        #miniSectionIntroComponent{
            margin-bottom: 20px;
        }

        p{
            margin: 245px 0 30px 0;
            font-family: 'Roboto', sans-serif;
            font-size: 13px;
            line-height: 25px;
            color: #595959;
        }

        #animatedButton{
            height: 50px;
            padding: 0 15px;
        }
    }
}