#coreAreaComponent{
    padding-top: 6em;
    display: grid;
    grid-template-columns: 1fr;

    .coreAreaContent{
        margin: 55px 10vw 50px 10vw;

        // .coreAreaText{
        //     float: right;
        // }

        .areaImageDiv{
            position: relative;
            width: 500px;
        }

        img{
            float: left;
            width: 100%;
            object-fit: cover;
            margin: 0px 20px 2px 0;
        }

        .areaCaption{
            width: 85%;
            padding: 0 10px;
            position: absolute;
            top: 270px;
            right: 0;
            background-image: linear-gradient(to top right, #FEA244, #FC693A);
            color: #FFFFFF;
        }

        h1{
            margin: 0 0 2px 0;
        }

        #coreAreaText{
            margin: 0;
            padding: 0;
            text-align: justify;
        }

    }
}