#ovalButton{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border: 1px #D7D7D7 solid;
    // color: #000000;
    background-color: inherit;
    cursor: pointer;
    position: relative;
}