#latestProgramsPreviewComponent{
    display: grid;
    grid-template-columns: 100%;
    padding: 0 10%;
    margin-bottom: 20px;
    column-gap: 24px;
    row-gap: 250px;
    margin-bottom: 150px;

    .latestProgram{
        position: relative;

        .cardTop{
            height: 300px;
            width: 325px;
            background-image: url("../../assets/images/press\ conference.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            padding: 22px 0 0 26px;

            .date{
                width: 90px;
                height: 90px;
                background-color: #FC6539;
                overflow: hidden;
                text-align: center;
                color: #FFFFFF;
                padding-top: 1%;
        
                .day{
                    font-weight: 400;
                    font-family: "Yeseva One", "sans-serrif";
                    font-size: 38px;
                    line-height: 38px;
                }
        
                .month{
                    display: block;
                    font-family: "Roboto", "sans-serrif";
                    font-size: 13px;
                    line-height: 23px;
                    font-weight: 500;
                    letter-spacing: 1px;
                }
            }
        }
    
        .cardBottom{
            background-color: #F7F7F7;
            width: 270px;
            position: absolute;
            top: 220px;
            left: 17px;
            padding: 25px 25px 0 25px;
            cursor: pointer;

            .cardReadMore{
                display: none;
            }

            &:hover{
                top: 160px;

                .cardReadMore{
                    display: block;
                    padding-bottom: 25px;
                }
            }    

            .theme{
                font-family: "Roboto", "Sans-serrif";
                font-size: 13px;
                line-height: 24px;
                font-weight: 600;
                letter-spacing: 0.7px;
                width:fit-content;
                padding: 3px 8px;
                color: #EE6B44;
                background-color: #E5E5E8;
            }

            .title{
                font-family: "Yeseva One", "Sans-serrif";
                font-size: 25px;
                line-height: 35px;
                font-weight: 400;
            }

            .content{
                font-family: "Roboto", "Sans-serrif";
                font-size: 15px;
                line-height: 27px;
                font-weight: 400;
            }

            #plainButton{
                height: 40px;
                border: 1.5px solid #EE6B44;
            }
        }
    }
}

@media(min-width: 600px){
    #latestProgramsPreviewComponent{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
