.coreAreaPreviewPage{
    display: grid;
    grid-template-columns: 100%;
    row-gap: 20px;
    padding: 0 10vw;
    

    h1{
        font-size: 38px;
        line-height: 45px;
        font-family: 'Yeseva One', sans-serif;
    }


    p{
        font-size: 14px;
        line-height: 22px;
        font-weight: 350;
        color: #FEECE7;
        font-family: 'Roboto', sans-serif;
    }

    .coreAreaPreview{
        background-color: #FC693A;
        padding: 30px 40px;
        // max-width: 38vw;
        color: #FFFFFF;
        display: grid;
    }

    #plainButton{
        margin-top: 15px;
        color: #FFFFFF;
        height: 40px;

        .rightArrow{
            top: 36%;
        }

        #rightArrowD{
            display: none;
        }

        #rightArrowW{
            display: block;
        }
    }
}

@media(min-width:600px){
    .coreAreaPreviewPage{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 28px;
        padding: 0 10vw;
    }
}