.coreAreaPreviewComponent{
    display: grid;
    grid-template-columns: 100%;
    row-gap: 20px;
    padding: 0 10vw;

    // h1{
    //     font-size: 38px;
    //     line-height: 45px;
    //     font-family: 'Yeseva One', sans-serif;
    // }

    .coreAreaPreview{
        background-color: #FC693A;
        padding: 0 40px 30px 40px;
        color: #FFFFFF;
        display: grid;
    }

    #plainButton{
        margin-top: 15px;
        color: #FFFFFF;
        height: 40px;

        .rightArrow{
            top: 36%;
        }

        #rightArrowD{
            display: none;
        }

        #rightArrowW{
            display: block;
        }
    }
}

@media(min-width:600px){
    .coreAreaPreviewComponent{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 28px;
        padding: 0 10vw;

        .coreAreaPreview{
            background-color: #FC693A;
            padding: 30px 40px;
            color: #FFFFFF;
            display: grid;
        }
    }
}