#pageIntroComponent {
  position: relative;
  
  img {
    width: 100%;
  }

  h2 {
    font-family: "Yeseva One", cursive;
    font-size: 55px;
    line-height: 80px;
    color: #ffffff;
    position: absolute;
    top: 34%;
    left: 40%;
  }
}
