#footerComponent{
    background-color: #001D23;
    background-image: url("../../assets/images/footerLine.png");
    border: 1px solid black;
    height: 500px;
    position: relative;
    bottom: 0;
    margin-top: 180px;

    #footerContentArea{
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 10px;
        height: 100%;
        width: 90%;
        background-color: #F7F7F7;
        position: absolute;
        left: 5%;
        top: -15%;
        overflow: hidden;

        #footerOutro{
            display: flex;
            align-items: center;
            padding: 0 60px 0 50px;

            img{
               height: 50px;
            }

            .quickLinks{
                display: flex;
                justify-content: space-between;
            }
        }

        #footerInstagram{
            display: flex;
            flex-direction: column;
            justify-content: center;

            h2{
                margin-bottom: 20px;
            }

            .igImages{
                display: flex;
            }

            .igImage{
                height: 100px;
                width: 105px;
                margin: 5px 5px;
                
                img{
                    height: inherit;
                    width: inherit;
                    object-fit: cover;
                    background-color: #FFFFFF;
                }
            }
        }
    }

    @media(min-width:600px){
        #footerContentArea{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            height: 95%;
            width: 90%;
            background-color: #F7F7F7;
            position: absolute;
            left: 5%;
            top: -30%;

            #footerOutro{    
                img{
                    margin-bottom: 20px;
                    height: 70px;
                }
            }
        }
    }
}
