a{
    text-decoration: none;
    color: #000000;
}

#navBar{
    display: flex;
    background-color: #FFFFFF;
    height: 5em;
    padding: 0 18px;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 0;

    #navLogo img{
        height: 3em;
    }

    .hamburgerMenu img{
        height: 2.5em;
        margin-right: 34px;
    }

    #navItemsMobile{
        display: none;
    }

    .navItems{
        // display: block;
        display: flex;
        flex-direction: column;
        font-size: 20px;
        line-height: 22px;
        padding-top: 65px;
        position: fixed;
        height: 100%;
        background-color: white;
        z-index: 5;
        top: 0;
        right: 0;
        width: 70%;

        .hamburgerMenu img{
            height: 2em;
            position: absolute;
            right: -18px;
            top: 18px;
        }
    
        ul{
            padding: 6px 30px 0 15px;
            // height: 40px;
            // min-width: 80px;
            text-align: center;
            text-decoration: none;
    
        }
    
        ul:hover{
            color: #FC693A;
            cursor: pointer;
        }
    
        ul:first-of-type{
            padding: 6px 32px 0 30px;
        }
    
        .active{
            color: #FC693A;
            cursor: pointer;
            background-image: url("../../assets/images/activeMenu.webp");
            background-repeat: no-repeat;
            background-size: 140px 40px;
            background-position: 1px 17px;
            color: #FFFFFF;
        }
    }

    .nwaLink{
        display: none;
    }
}



@media(min-width:600px){
    #navBar{
        display: flex;
        height: 6em;
        justify-content: space-around;
        width: 100%;
        z-index: 2;
        top: 0;

        #navLogo img{
            height: 4.5em;
        }

        #navItemsMobile{
            display: block;
        }

        .hamburgerMenu{
            display: none;
        }
        
        .nwaLink{
            display: block;
        }
    
        .navItems{
            display: flex;
            justify-content: space-around;
            font-size: 20px;
            line-height: 22px;
            padding-top: 20px;
    
            ul{
                padding: 6px 30px 0 15px;
                height: 40px;
                min-width: 80px;
                text-align: center;
                text-decoration: none;
    
            }
    
            ul:hover{
                color: #FC693A;
                cursor: pointer;
            }
    
            ul:first-of-type{
                padding: 6px 32px 0 30px;
            }
    
            .active{
                color: #FC693A;
                cursor: pointer;
                background-image: url("../../assets/images/activeMenu.webp");
                background-repeat: no-repeat;
                background-size: 140px 40px;
                background-position: 1px 17px;
                color: #FFFFFF;
            }
        }
    }
}