#sponsorsListComponent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 10px;
    position: relative;
    top: 22%;

    .sponsorsList{
        img{
            height: 120px;
            width: 120px;
        }
    }
}